body {
    --note: hsl(199, 90%, 90%);
    --warning: hsl(48, 90%, 90%);
    --tip: hsl(90, 90%, 90%);
    --support: hsl(0, 90%, 90%);
}

body.dark {
    --note: hsl(199, 40%, 40%);
    --warning: hsl(48, 40%, 40%);
    --tip: hsl(90, 40%, 40%);
    --support: hsl(0, 40%, 40%);
}

.note,
.warning,
.tip,
.support {
    padding: 1em;
    margin-bottom: 2.5em;
}

.note span,
.warning span,
.tip span,
.support span {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
}

.note p,
.warning p,
.tip p,
.support p {
    margin-bottom: 0;
}

.note {
    background-color: var(--note);
}

.warning {
    background-color: var(--warning);
}

.tip {
    background-color: var(--tip);
}

.support {
    background-color: var(--support);
}
