@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    src: local("Libre Baskerville"), url("/fonts/libre-baskerville.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: normal;
    src: local("Libre Baskerville Italic"),
        url("/fonts/libre-baskerville-italic.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    src: local("Libre Baskerville Bold"),
        url("/fonts/libre-baskerville-bold.ttf");
}

@font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: normal;
    src: local("Lato"), url("/fonts/lato.ttf");
}

html {
    font-size: 62.5%;
}

body {
    --body: hsl(0, 0%, 20%);
    --background: white;
    --link: hsl(219, 100%, 47%);
    --pre: aliceblue;
}

body.dark {
    --body: white;
    --background: hsl(0, 0%, 20%);
    --link: hsl(200, 100%, 77%);
    --pre: #555;
}

body {
    max-width: 630px;
    margin: 2em auto;
    padding: 0 0.5em;
    font-size: 1.6em;
    line-height: 1.4;
    color: var(--body);
    background: var(--background);
    font-family: "LIbre Baskerville", "Baskerville", "Garamond", serif;
    font-variant-numeric: lining-nums;
    scroll-behavior: smooth;
    transition: color 0.5s ease-in-out;
    transition: background 0.25s ease-in-out;
}

@media (max-width: 650px) {
    body {
        width: 90%;
    }
}

@media print {
    body {
        width: 90%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", "Raleway", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
}

h1 {
    font-size: 3.6rem;
    line-height: 1.25;
    page-break-before: always;
}

h1:first-of-type {
    page-break-before: avoid;
}

h2 {
    font-size: 2.8rem;
    line-height: 1.3;
}

h3 {
    font-size: 2.2rem;
    line-height: 1.35;
}

h4 {
    font-size: 1.8rem;
    line-height: 1.5;
}

h5 {
    font-size: 1.6rem;
    line-height: 1.4;
}

blockquote,
figure,
ol,
p,
pre,
ul {
    margin-bottom: 2.5rem;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: var(--link);
    word-break: break-word;
}

ol,
ul {
    margin-top: 0;
    padding-left: 0;
}

ul {
    list-style: disc inside;
    margin-left: 2em;
}

ol ol,
ol ul,
ul ol,
ul ul {
    font-size: 90%;
    margin: 1.5rem 0 1.5rem 3rem;
}

li {
    margin-bottom: 1rem;
}

pre {
    overflow-y: hidden;
    background: var(--pre);
    padding: 1.6rem;
}

code {
    white-space: pre;
}

hr {
    border: none;
    border-top: 0.1rem solid hsl(0, 0%, 80%);
    margin: 3rem 0;
}

img {
    margin: 2em 0;
    max-width: 100%;
}

blockquote {
    font-style: italic;
    border-left: 0.3rem solid #d1d1d1;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2.5rem;
    padding: 1rem 1.5rem;
}

blockquote p:last-child {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

header {
    margin-bottom: 3em;
    font-family: monospace;
}

.title {
    display: block;
    margin-bottom: 0.5em;
    font-size: 140%;
    color: var(--link);
}

.theme-toggle {
    display: block;
    float: left;
}

@media print {
    .theme-toggle {
        display: none;
    }
}

main {
    margin-top: 3em;
}

nav {
    margin: 3em 0;
    padding-top: 1em;
}

@media print {
    nav {
        display: none;
    }
}

nav ul {
    list-style: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

nav ul li {
    display: inline-block;
    margin-bottom: 0;
    font-variant: all-petite-caps;
}

nav ul li::before {
    content: "[";
}

nav ul li::after {
    content: "]";
}

nav ul li:nth-child(1) {
    margin-right: 2em;
}

nav ul li:nth-child(2) {
    margin-left: 2em;
}

@media (max-width: 650px) {
    nav ul li:nth-child(1),
    nav ul li:nth-child(2) {
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
}

.footnote-ref {
    margin-right: 0.5em;
}

.footnotes {
    font-size: small;
}

.chapter-list {
    list-style: decimal-leading-zero outside;
    margin-left: 4ch;
}

.chapter-list li::marker {
    font-family: "SFMono-Regular", "Consolas", "Liberation Mono", "Menlo",
        monospace;
}

footer {
    font-size: small;
    text-align: center;
    margin-bottom: 3em;
    padding-top: 2em;
    border-top: 1px solid #777;
    opacity: 0.6;
}

@media print {
    footer {
        display: none;
    }
}

footer p {
    margin-bottom: initial;
}

footer ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
}

footer ul li {
    display: inline;
    margin-right: 1em;
    margin-bottom: 0;
}

@media (max-width: 650px) {
    footer ul li {
        display: block;
        margin-right: 0;
        margin-bottom: 0.5em;
    }

    footer ul li::after {
        display: none;
    }
}

footer ul li:last-child {
    margin-right: 0;
}

footer ul li::after {
    content: "•";
    margin-left: 1em;
}

footer ul li:last-child::after {
    display: none;
}
