@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: normal;
    src: local("Libre Baskerville"), url("/fonts/libre-baskerville.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: italic;
    font-weight: normal;
    src: local("Libre Baskerville Italic"),
        url("/fonts/libre-baskerville-italic.ttf");
}

@font-face {
    font-family: "Libre Baskerville";
    font-style: normal;
    font-weight: bold;
    src: local("Libre Baskerville Bold"),
        url("/fonts/libre-baskerville-bold.ttf");
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 500;
    src: local("Raleway SemiBold"), url("/fonts/raleway-500.ttf");
}

:root {
    --pseudo-black: hsl(0, 0%, 30%);
}

body {
    width: 50%;
    margin: 2em auto;
    line-height: 1.4;
    color: var(--pseudo-black);
    font-family: "LIbre Baskerville", "Baskerville", "Garamond", serif;
}

@media (max-width: 600px) {
    body {
        width: 90%;
    }
}

@media print {
    body {
        width: 90%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", "Arial", "Helvetica", sans-serif;
    font-weight: 500;
    letter-spacing: normal;
}

h2 {
    page-break-before: always;
}

a {
    color: hsl(219, 100%, 47%);
    transition: color ease-in-out 0.4s;
}

a:hover {
    color: var(--pseudo-black);
}

ul {
    list-style-position: outside;
}

.footnotes {
    font-size: small;
}
