body {
    --base: #4d4d4d;
    --quantifier: #58f;
    --escape: #c0c;
    --special-escape: #c0c;
    --charclass: #d70;
    --charset-punctuation: #d70;
    --charset-negation: #d70;
    --charset-background: hsla(56, 100%, 50%, 0.3);
    --anchor: #840;
    --group: #0a0;
    --backreference: #0a0;
    --alternation: #0a0;
    --delimiter: #b7bcc0;
    --flags: #999;
}

body.dark {
    --base: var(--body);
    --quantifier: hsl(222, 80%, 75%);
    --charset-background: hsla(56, 100%, 50%, 0.1);
    --anchor: hsl(30, 100%, 40%);
    --group: hsl(120, 100%, 43%);
    --backreference: hsl(120, 100%, 43%);
    --alternation: hsl(120, 100%, 43%);
    --delimiter: #888;
    --flags: #999;
}

.token.language-regex {
    color: var(--base);
}

.token.quantifier {
    color: var(--quantifier);
}

.token.escape {
    color: var(--escape);
}

.token.special-escape {
    color: var(--special-escape);
}

.token.charclass {
    color: var(--charclass);
}

.token.charset-punctuation {
    color: var(--charset-punctuation);
}

.token.charset-negation {
    color: var(--charset-negation);
}

.token.anchor {
    color: var(--anchor);
}

.token.group {
    color: var(--group);
    /* background: rgba(0, 238, 0, 0.11); */
}

.token.backreference {
    color: var(--backreference);
}

.token.alternation {
    color: var(--alternation);
}

.token.charset {
    background: var(--charset-background);
}

.token.regex-delimiter {
    color: var(--delimiter);
}

.token.regex-flags {
    color: var(--flags);
}
