.example {
    font-family: monospace;
}

.example .regex-name {
    font-size: large;
    font-weight: bold;
}

.example ul {
    margin-left: 2em;
    font-size: large;
    list-style-type: none;
}

.example .pass-fail {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: transparent;

    /*
        I have no idea why these magic constants work. They just do.
        Such is CSS sometimes. I'm so sorry.
    */
    font-size: 6px;
    margin-right: 12px;
    vertical-align: -10%;
}

.example ul ol {
    margin: 0 2em;
}

.example ul ol li {
    display: inline-block;
    margin-right: 1em;
}

.example ul ol li:last-child {
    margin-right: 0;
}
