.example {
    font-family: monospace;
    page-break-inside: avoid;
    margin-right: 0;
}

.example code.regex-name {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border-radius: 0.3em;
    white-space: normal;
    background-color: whitesmoke;
    padding: 0.2em;
    line-height: 1.9;
}

.example .demo-link {
    margin-left: 1em;
    opacity: 0.6;
}

.example .demo-link:hover,
.example .demo-link:active,
.example .demo-link:focus {
    color: hsl(219, 100%, 47%);
    opacity: 1;
}

@media print {
    .example .demo-link {
        display: none;
    }
}

.example ul {
    margin: 1.5em 0 0 2em;
    font-size: large;
    list-style-type: none;
}

.example ul > li {
    height: 2em;
}

.example ul code {
    background: none;
    margin: 0;
    padding: 0;
    white-space: inherit;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
}

.example ul li,
.example ul li ol li {
    font-size: large;
    letter-spacing: normal;
    white-space: pre-wrap;
}

.example .indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*
        I have no idea why these magic constants work. They just do.
        If you figure it out, please let me know.
        Such is CSS sometimes. I'm so sorry.
    */
    font-size: 6px;
    margin-right: 12px;
    vertical-align: -10%;
}

.example .indicator.pass {
    background-color: #73fa79;
}

.example .indicator.fail {
    background-color: #ff7e79;
}

.example ul li ol {
    margin: 0 2em;
    position: relative;
    top: -22px;
    left: -1px;
    z-index: -1;
}

.example ul li ol li {
    display: inline;
    background: hsl(33, 100%, 88%, 0.7);
    border-radius: 3px;
    border-bottom: 1px solid slategrey;
    padding: 0;
    color: transparent;
    position: absolute;
    left: 0;
    user-select: none;
    box-sizing: content-box;
}
