body {
    --regex-background: whitesmoke;
    --highlight: hsl(33, 100%, 88%, 0.7);
    --highlight-bottom: slategrey;
    --pass: #73fa79;
    --fail: #ff7e79;
}

body.dark {
    --regex-background: #555;
    --highlight: hsla(261, 80%, 65%, 0.5);
    --highlight-bottom: #aaa;
}

.example {
    font-family: monospace;
    page-break-inside: avoid;
    margin-right: 0.5rem;
}

@media (max-width: 550px) {
    .example {
        margin-left: 0;
    }
}

.example code.regex-name {
    font-family: monospace;
    font-size: large;
    font-weight: bold;
    border-radius: 0.3em;
    white-space: normal;
    word-break: break-all;
    background-color: var(--regex-background);
    padding: 0.2em;
    line-height: 1.9;
}

body.dark .example code.regex-name {
    background-color: var(--regex-background);
}

.example .demos {
    display: inline-block;
    margin: 0;
    margin-left: 1em;
    list-style-type: none;
    break-inside: avoid;
}

@media (max-width: 550px) {
    .example .demos {
        display: block;
        margin-left: 0;
        margin-top: 1em;
    }
}

.example .demos li {
    display: inline;
    margin-bottom: 0;
    margin-left: 1em;
}

.example .demos li:first-child {
    margin-left: 0;
}

.example .demos a {
    opacity: 0.6;
}

.example .demos a:hover,
.example .demos a:active,
.example .demos a:focus {
    color: var(--link);
    opacity: 1;
}

@media print {
    .example .demos a {
        display: none;
    }
}

.example .cases code {
    background: none;
    margin: 0;
    padding: 0;
    white-space: inherit;
    border-radius: 0;
    font-family: inherit;
    font-size: inherit;
    word-break: break-all;
}

.example .cases {
    margin: 1.5em 0 0 2em;
    font-size: large;
    list-style-type: none;
}

@media (max-width: 550px) {
    .example .cases {
        margin-left: 1em;
    }
}

.example .cases li {
    margin-bottom: 2em;
    position: relative;
}

.example .cases li {
    font-size: large;
    letter-spacing: normal;
    white-space: pre-wrap;
}

.example .indicator {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 12px;
    border-radius: 50%;
    color: transparent;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    font-size: 6px; /* Magic constant ✨ */
    vertical-align: middle;
}

.example .indicator.pass {
    background-color: var(--pass);
}

.example .indicator.fail {
    background-color: var(--fail);
}

.example mark {
    color: var(--body);
    background: var(--highlight);

    /* Right "border" without shifting everything by a pixel */
    box-shadow: -1px 0px 0px 0px var(--background);

    border-radius: 3px;
    border-bottom: 1px solid var(--highlight-bottom);
    box-sizing: content-box;
}
